language: php

sudo: false
dist: xenial
os: linux

cache:
  directories:
    - vendor
    - coverage

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server

cache:
    directories:
        - $HOME/.composer/cache/files

services:
  - mysql

jobs:
  include:
    - php: 7.1
      if: (type == push AND fork = false) OR (type == pull_request AND forke = true)
      env:
        - PHPUNIT_CONF=phpunit.xml.dist
    - php: 7.2
      if: (type == push AND fork = false) OR (type == pull_request AND forke = true)
      env:
        - PHPUNIT_CONF=phpunit.xml.dist
    - php: 7.2
      if: (type == push AND fork = false) OR (type == pull_request AND forke = true)
      env:
        - PHPUNIT_CONF=phpunit.xml.dist
    - php: 7.1
      if: type == push AND branch = master AND fork = false
      env:
        - IS_TEST = 1
        - PHPUNIT_CONF=phpunit.xml.dist
        - COVERAGE_FILTER='App\\Tests\\ControllerIndex'
        - COVERAGE_ID=1
    - php: 7.2
      if: type == push AND branch = master AND fork = false
      env:
        - IS_TEST = 1
        - PHPUNIT_CONF=phpunit.xml.dist
        - COVERAGE_FILTER='App\\Tests\\ControllerList'
        - COVERAGE_ID=2
    - php: 7.2
      if: type == push AND branch = master AND fork = false
      env:
        - IS_TEST = 1
        - PHPUNIT_CONF=phpunit.xml.dist
        - COVERAGE_FILTER='App\\Tests\\ControllerUpdate'
        - COVERAGE_ID=3
    - php: 7.2
      if: type == push AND branch = master AND fork = false
      env:
        - IS_TEST = 1
        - PHPUNIT_CONF=phpunit.xml.dist
        - COVERAGE_FILTER='App\\Tests\\ControllerView'
        - COVERAGE_ID=4
    - stage: submit
      addons:
      services:
      php: 7.2
      env:
        - JOB_COUNT_COVERAGE=4 # 4 jobs are generating coverages
      script:
        - echo "do not run tests"
      after_script:
        - s3cmd sync "s3://$S3_BUCKET/coverage/" coverage/ --secret_key=$S3_SECRET_KEY --access_key=$S3_ACCESS_KEY --host=$S3_HOST --host-bucket=$S3_HOST --force
        - ./cc-test-reporter sum-coverage --output - --parts $JOB_COUNT_COVERAGE coverage/clover.*.xml | ./cc-test-reporter upload-coverage --input - 

before_install:
  - |
    if ! [[ $COVERAGE_FILTER ]]; then
      phpenv config-rm xdebug.ini
    fi
    
    composer self-update
    mysql -e 'CREATE DATABASE travis_test;'
    cp .env.dist .env

install:
  - sudo apt-get install -y awscli s3cmd
  - composer install

before_script:
  - |
    curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    chmod +x ./cc-test-reporter
    ./cc-test-reporter before-build

script:
  - |
    if [[ $COVERAGE_FILTER ]]; then
      phpunit --configuration $PHPUNIT_CONF --coverage-clover clover.xml --filter $COVERAGE_FILTER
      ./cc-test-reporter format-coverage -t clover -o coverage/clover.$COVERAGE_ID.xml clover.xml
      s3cmd sync coverage/ "s3://$S3_BUCKET/coverage/" --secret_key=$S3_SECRET_KEY --access_key=$S3_ACCESS_KEY --host=$S3_HOST --host-bucket=$S3_HOST --force
    else
      phpunit --configuration $PHPUNIT_CONF
    fi
